h1 {
  font-size: 60px;
  text-align: center;
}
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
@keyframes change-color {
    from {background-color:red;}
    to {background-color:blue;}
}

.box {
    width:200px;
    height:200px;
    background-color:white;
}

.box-animation {
    animation-name:change-color;
    animation-duration:10ms;
    animation-iteration-count:infinite;
}
